@model IEnumerable<devTicket.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fas fa-user-plus"></i></a>
</p>
<table class="table" id="usuarioTable">
    <thead>
        <tr>
            <th>
                <p>Nombre</p>
            </th>
            <th>
                <p>Correo</p>
            </th>
            <th>
                <p>Telefono</p>
            </th>
            <th>
                <p>Rol</p>
            </th>
            <th>
                <p>Creado el</p>
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th> -->
            <th>
                <p>Activo</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <!--<td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td> -->
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list"></i></a> |
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#usuarioTable').DataTable();
        });
    </script>
}
